*.a
*.pyc
*.arx
*.o
*.data
*.dep
/source/binary
/tools/list_glx_fb_configurations/list_glx_fb_configurations
/configuration
/.configuration.d/
/data/textures/generated/tex/*.tex
/data/mesh_*.xml
/libraries/events/test/test
/libraries/string_cast/test/test
/libraries/xml_parser/test/test
/libraries/xml_stream/test/test
/tools/littlem/scene.xml
/tools/littlem/mesh.xml
/source/arx_types.h
/tools/littlem/source/binary
